@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


*{
  box-sizing: border-box;
  font-family: 'Silkscreen', sans-serif;
  color: white;
}

body{
  background-color: rgb(8,8,8);
  height: 100vh;
  width: 100vw;

  margin: 0;
  padding: 0;
}

#app{
  /* background-color: rgb(32,32,32); */
  background: url("./assets/bg-pet.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* width: fit-content; */
  max-width: 100vw;
  height: 100vh;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  gap: 4em;
}


#pet-container{
  /* background-color: red; */
  position: relative;
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

#chatbox{
  position: absolute;
  bottom: 2.5vh;
  width: 60vw;
  height: 8em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

#pet{
  position: relative;
}
#emote-container{
  position: absolute;
  width: 100%;
  height: 100%;
}
.emote{
  position: absolute;
  
  width: 60px;
}

#mic-button{
  height: 60px;
  width: 60px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: -50px;
  top: -50px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all 100ms ease-in;
}
#mic-button:hover{
  border: 1px solid rgba(255, 255, 255, 1);
}

#mic-button.inactive{
  background: rgba(0, 0, 0, 0.5);
}
#mic-button.active{
  background: red;
}


.float-down{
  animation: float-down 2s ease-in forwards;
}
@keyframes float-down {
  from{
    translate: 0;
    opacity: 1;
  }
  to{
    translate: 0 100%;
    opacity: 0;
  }
}

.float-up{
  animation: float-up 2s ease-in forwards;
}
@keyframes float-up {
  from{
    translate: 0;
    opacity: 1;
  }
  to{
    translate: 0 -100%;
    opacity: 0;
  }
}